:root {
    /* Color of text and icons */
    --main-color:             #0ABDC6;

    /* Header background color */
    --header-color:           #262F3F;

    /* Color to be used as an accent */
    --detail-color:           #711C91;

    /* Colors used in the gradient background */
    --dark-background-color:  #000B1E;
    --light-background-color: #091833;
}

html, body {
    /* Size */
    height: 100%;
    width:  100%;

    /* Spacing */
    margin: 0;
    padding: 0;
    
    /* Content Formatting */
    overflow: hidden;
}


/* The text that reads "WELCOME BACK."  */
.title {
    /* Size */
    font-size:   150%;

    /* Spacing */
    margin:      0.5%;

    /* Appearance */
    font-family: 'AIRBORNEGPBold';
    font-weight: bold;
    color:       var(--main-color);
}

/* The grey box at the top. */
.header {
    /* Size */
    height:           20%;

    /* Spacing */
    padding:          1% 0%;

    /* Appearence */
    background-color: var(--header-color);
    border-bottom:    3px solid var(--detail-color);

    /* Content Formatting */
    text-align:       center;
    display:          flex;
    flex-flow:        column nowrap;
    justify-content:  space-around; 
    align-items:      center;
}

/* Search bar for DuckDuckGo  */
.search-bar {
    /* Size */
    height:   40%;
    width:    80%;

    /* Content Formatting */
    overflow: hidden;
}

/* The dark blue space that takes up most of the screen. */
.menu {
    /* Size */
    width:            100%;
    height:           80%;

    /* Spacing */
    margin:           0 auto;

    /* Appearance */
    background-image: linear-gradient(
                          to bottom right,
                          var(--dark-background-color),
                          var(--light-background-color)
                      );

    /* Content Formatting */
    display:          flex;
    flex-flow:        row wrap;
    justify-content:  space-evenly;
    align-items:      center;
    align-content:    space-around;
}

/* The links in the menu section */
a:hover.menu-item {
    /* Appearance */
    background-color: var(--header-color);
    border-color:     var(--header-color);
}

a:active.menu-item {
    /* Appearance */
    background-color: var(--main-color);
    color:            var(--detail-color);
    border-color:     var(--main-color);
}

.menu-item {
    /* Size */
    width:           25%;
    height:          25%;
    font-size:       350%;

    /* Spacing */
    margin:          0% 2%;

    /* Appearance */
    color:           var(--main-color);
    border:          3px solid var(--detail-color);

    /* Content Formatting */
    display:         flex;
    justify-content: center;
    align-items:     center;
}

/* For phones only. */
@media only screen and (max-width: 768px) {

    /* Links to be hidden on mobile but stay on desktop. */
    a[href*="bandcamp"],
    a[href*="discord"],
    a[href*="protonmail"],
    a[href*="reddit"],
    a[href*="soundcloud"],
    a[href*="youtube"] 
    {
        /* Content Formatting */
        display: none;
    }

    /* For when a soft keyboard is out */
    @media only screen and (orientation: landscape) {

        /*.title {
        }*/

        .header {
            /* Size */
            height: 25%;
        }

        .search-bar {
            /* Size */
            height: 55%;
        }

        .menu {
            /* Size */
            height: 75%;
        }

        .menu-item {
            /* Size */
            font-size: 325%
        }
    }

    /* For landscape mode only. Everything before is for portrait mode. */
    @media only screen and (min-aspect-ratio: 13/9) {

        .title {
            /* Size */
            font-size: 250%;
        }

        .header {
            /* Size */
            height:  30%;
            
            /* Spacing */
            padding: 0%;
        }

        .search-bar {
            /* Content Formatting */
            display: none;
        }

        .menu {
            /* Size */
            height: 70%;
        }   

        .menu-item {
            /* Size */
            width:     15%;
            height:    45%;

            /* Spacing */
            margin:    0% 1%;
        }
    }
}

/* For desktops only.*/
@media only screen and (min-width: 768px) {

    .title {
        /* Size */
        font-size: 200%;
    }

    .header {
        /* Size */
        height:  20%;

        /* Spacing */
        padding: 0%;    
    }

    .search-bar {
        /* Size */
        width:  40%;
        height: 40%;
    }

    .menu {
        /* Size */
        height: 80%;
    }

    .menu-item {
        /* Size */
        width:     10%;
        height:    25%;
        font-size: 400%;
    }
}
