:root {
    --header-text-color:       #0ABDC6;
    --header-background-color: #262F3F;
    --detail-color:            #711C91;
    /* Colors used in the gradient background */
    --dark-background-color:   #000B1E;
    --light-background-color:  #091833;
}

html, body {
    height: 100%;
    width:  100%;
    margin: 0;
}

/* The text that reads "WELCOME BACK."  */
.title {
    margin:      0.5%;
    font-family: 'AIRBORNEGPBOLD';
    font-weight: bold;
    font-size:   150%;
    color:       var(--header-text-color);
}

/* The grey box at the top. */
.header {
    height:           20%;
    text-align:       center;
    background-color: var(--header-background-color);
    border-bottom:    3px solid var(--detail-color);
    display:          flex;
    flex-flow:        column nowrap;
    justify-content:  space-around; 
    align-items:      center;
}

/* Search bar for DuckDuckGo  */
.search-bar {
    overflow: hidden;
    width:    80%;
    height:   40%;
}

/* The dark blue space that takes up most of the screen. */
.menu {
    width:            100%;
    height:           80%;
    margin:           0 auto;
    background-image: linear-gradient(
                          to bottom right,
                          var(--dark-background-color),
                          var(--light-background-color)
                      );
    display:          flex;
}

/* For landscape mode only. Everything before is for portrait mode. */
@media only screen and (max-width: 768px) {
    @media only screen and (orientation: landscape) {
        .title {
            font-size: 100%;
        }
        .header {
            height: 30%;
        }
        .search-bar {
            height: 50%;
        }
        .menu {
            height: 70%;
        }   
    }
}
/* For desktops only. Everything before is for smaller screens.*/
@media only screen and (min-width: 768px) {
    .title {
        font-size: 200%;
    }
    /*.header {
        
    }*/
    .search-bar {
        width: 40%;
    }
    /*.menu {

    }*/
}
